body {
    text-align: center;
}
.travelling-gallery {
    width: 300px;
    height: 200px;
}
.Favourite-animal-gallery {
                    width: 300px;
                    height:200p
                }